.image {
    display: flex;
    justify-content: center;
     
    background-color: red;
    width: 50%; 
  }


  .inner {
    display: flex;
    justify-content: center;
    
    background-color: yellow;
    width: 50%;
    
    /* height: auto; */
  }

  .inner img {
    width: 50%;
    height: auto;
    object-fit: cover;
  }