html
  head
    title My Pug File
    link(rel="stylesheet", href="css/addArtwork.css") 


  body
    include ../partials/header

    //- - var list = ["ArtWorkTitle","YearCreated", "ArtworkCategory", "ArtworkMedium","Description", "LinkToArtworkPoster"]

    div.login-box
      
      h2 Add Artwork
      form        
        //- div.user-box
        //-   input(type='text', name='', readonly onfocus="this.removeAttribute('readonly');", required)
        //-   label Username
        //- div.user-box
        //-   input(type='text', name='', readonly onfocus="this.removeAttribute('readonly');", required)
        //-   label Password

        div.user-box
          input(type='text', id='ArtWorkTitle', readonly onfocus="this.removeAttribute('readonly');")
          label ArtWork Title

        div.user-box
          input(type='text', id='YearCreated', readonly onfocus="this.removeAttribute('readonly');")
          label Year Created

        div.user-box
          input(type='text', id='ArtworkCategory', readonly onfocus="this.removeAttribute('readonly');")
          label Artwork Category

        div.user-box
          input(type='text', id='ArtworkMedium', readonly onfocus="this.removeAttribute('readonly');")
          label Artwork Medium

        div.user-box
          input(type='text', id='Description', readonly onfocus="this.removeAttribute('readonly');")
          label Description

        div.user-box
          input(type='text', id='LinkToArtworkPoster', readonly onfocus="this.removeAttribute('readonly');")
          label Link to Artwork Poster
        
        button(type='button', onclick='sendArtworkForProcessing()') Submit


  script(src="js/addArtwork.js")
