head
  title My Pug File

body
  include ../partials/header

  h1 Welcome to the artist page!

  br
  h3 Artist: #{artperson.username}

  // Hidden input field for artwork ID
  input(type="hidden", id="artistId", value=artperson._id)

  
  // Follow button
  button(id="followButton" type="button" onclick="toggleFollow()")
    | #{followed ? 'Following' : 'Follow'}

  h4 Artworks
  each artwork in artpersonWorks
    a(href="/artworks/" + artwork._id) #{artwork.Title}
    br

script(src="js/artist.js")
          