doctype html
html
  head
    title Clickable Buttons with Notifications
    link(href="css/artworks2.css" rel="stylesheet")
    link(href="css/profile.css" rel="stylesheet")
  body
    include ../partials/header
    br

    div#profile

      div#profileTop
        br
        h2(id="username") #{username} 
        
        div#person-info 
          span#followers 
            p Followers
            img( src="images/arrow.png" width="20px" height="20px" alt="")
            p #{user.followers.length}
          span#following
            p Following
            img(src="images/arrow.png" width="20px" height="20px" alt="") 
            p #{user.followedArtists.length}
          span#notifications
            p Notifications
            input( type="image"  id="" src="images/notifications.png" width="20px" height="20px" alt="Notifications")

        div#accountControls
          span
            button Search Artworks
          if !isNotUser
            span
              button( id="switchButton", onclick="switchAccountType()") Switch Account type  
            if isArtist
              span
              button( onclick="window.location.href='/addArtwork'") Add Artwork
          if isNotUser
            // Follow button
            - let imgSrc = "images/redCross"
            - imgSrc = "images/greenTick" 
            
            span
            button(id="followButton"  onclick="toggleFollow()")
              | #{followed ? imgSrc='Following' : imgSrc='Follow'}
              -  imgsrc

      div.profile-menu
        span 
          button(type="button" id="uploadsButton") Uploads
        span
          button(type="button" id="reviewedButton") Reviews
      hr
        //- span
        //-   button(type="button" id="") Liked?
      div.profile-photos
        div#selfuploads
        div(id="reviewedartworks" class="removeDisplay" )
        //- div#pending




  script(src="js/profile.js")
  script(src="js/artist.js")