doctype html
html
  head
    title Sign Up Page
  body
    h1 Sign Up
    
    //- expired-> return false prevents the extra functionality of form tag from executing
    div
      label(for="username") Username:
      input(type="text", id="username", name="username", required, oninput="validateFields()")
    
    div
      label(for="password") Password:
      input(type="password", id="password", name="password", required, oninput="validateFields()")
    
    button(type="button", id="Button", onclick="signup()" disabled) Sign up 

    p Already have an account? 
      button(type="button")
        a(href="/") Login

    script(src="js/userVerification.js")