doctype html
html
  head
    title Sign Up Page
    link(rel="stylesheet", href="css/login-signup.css")

    
  body

    div.login-box
      h1 Sign Up
      
      //- expired-> return false prevents the extra functionality of form tag from executing
      form

        div.user-box
          input(type="text", id="username", name="username", readonly onfocus="this.removeAttribute('readonly');", required, oninput="validateFields()")
          label Username:

        div.user-box
          input(type="password", id="password", name="password", readonly onfocus="this.removeAttribute('readonly');", required, oninput="validateFields()")
          label Password:

        button(type="button", id="Button", onclick="signup()" disabled) Sign up 

        div#changeStatus 
          a(href="/") Already have an account? 

    script(src="js/userVerification.js")